html,
body {
    height: 100%;
}

#backOne {
    /* The image used */
    background-image: url("images/coolBlue.jpg");
    /* Set a specific height */
    height: 100%;
    /* width: 100%;  */
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

#backTwo {
    /* The image used */
    background-image: url("images/blue.jpg");
    /* Set a specific height */
    height: 75%;
    /* width: 100%;  */
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

#backThree {
    /* The image used */
    background-image: url("images/coolBlue.jpg");
    /* Set a specific height */
    height: 75%;
    /* width: 100%;  */
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.contOne{
    background-color: #fff;
    border: 1%;
    padding: 3%;
    margin-top:10%;
    flex: wrap;
    flex-wrap: auto;
    margin-bottom: 5%;
    overflow: none;
}


.footer, .push {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin: auto;
    clear: both;
}

#copy{
    color: black;
    text-align: center;
}

.imgSmall {
    width: 350px;
    height: auto;
}