html,
body {
    height: 100%;
}
/* first section */
#backOne {
    /* The image used */
    background-image: url("images/coolBlue.jpg");
    /* Set a specific height */
    height: 100%;
    /* width: 100%;  */
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
/* second section */
#backTwo {
    /* The image used */
    background-image: url("images/blue.jpg");
    /* Set a specific height */
    height: 35%;
    /* width: 100%;  */
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
/* third section */
#backThree {
    /* The image used */
    background-image: url("images/coolBlue.jpg");
    /* Set a specific height */
    height: 75%;
    /* width: 100%;  */
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

/* first div with about me content */
.contOne{
    background-color: #fff;
    border: 1%;
    padding: 3%;
    margin-top:10%;
    flex: wrap;
    flex-wrap: auto;
    margin-bottom: 5%;
    overflow: none;
}


/* resizes images on portfolio */
.imgSmall {
    width: 300px;
    height: auto;
}
/* spaces images */
.col-4-lg {
    padding: 0;
    margin: 3%;
}
/* -------------------------------------- */

/* keeps footer stuck to bottom of page */
.footer, .push {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin: auto;
    clear: both;
}
/* only for text in footer */
#copy{
    color: black;
    text-align: center;
}
/* end footer code */